@import '../style/variables.scss';

.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/zoo2.webp');
  height: 600px;
  width: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  place-self: center;
  color: white;

  img {
    width: 300px;
  }

  p {
    margin-block: 2rem;
    text-shadow: #000 1px 0 10px;
  }

  button {
    margin-top: 2rem;;
    background-color: $secondary2;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-img {
  height: 600px;
  width: 700px;
  }

  .hero-info {
  
    img {
      width: 500px;
    }
  
  }
}

@media screen and (min-width: 1200px) {
  .hero-img {
    height: 600px;
    width: 1000px;
  }

  .hero-info {
  
    img {
      width: 500px;
    }
  
  }


  
}