
$FontHeading: 'Barriecito', cursive;
$FontParagraph: 'Krub', Avenir, Helvetica, Arial, sans-serif;


$primary1: #556458;
$primary2: #657368;
$primary3: #4E5C51;

$secondary1: #EBDDAD;
$secondary2: #EEE7CD;
$secondary3: #D8CA99;

$accent1: #E2C5BE;
$accent2: #D7CBC8;
$accent3: #D8B2A9;

$grey100: #EDEDED;
$grey300: #AEAEAE;
$grey500: #2D2D2D;
$grey700: #1E231F;